<div class="row">
    <div class="col-md-12">
        <h1 class="logo">
            <img src="/img/logo.png" alt="САНА">
            <span>Расчетно - сервисный центр</span>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form class="signin" (ngSubmit)="onSubmitForm()">

            <h3>Вход в систему</h3>

            <div class="form-group">
                <label for="signin-login"
                       class="control-label">
                    Логин:
                </label>
                <input type="text"
                       autocomplete="off"
                       class="form-control"
                       id="signin-login"
                       placeholder="Введите логин"
                       [(ngModel)]="authService.login"
                       name="login"
                       required
                       autofocus>
            </div>

            <div class="form-group">
                <label for="signin-password"
                       class="control-label">
                    Пароль:
                </label>
                <input type="password"
                       lang="ru"
                       class="form-control"
                       id="signin-password"
                       placeholder="Введите пароль"
                       [(ngModel)]="authService.password"
                       name="password"
                       required>
            </div>

            <button class="btn btn-primary"
                    type="submit"
                    [disabled]="loginButtonDisabled">
                <i class="fa fa-sign-in"></i>
                Войти
            </button>

        </form>
    </div>
</div>