.logo {
  padding: 20px;
  text-align: center;
}
.signin {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 50px 0px #aaa;
}