<div class="d-flex">
    <div class="p-2">
        <button class="btn btn-success"
                (click)="createMessage()">
            <i class="fa fa-file"></i>
            Создать сообщение
        </button>
    </div>
</div>

<div class="d-flex">
    <div class="p-2">
        <select class="custom-select"
                [(ngModel)]="filterStatus"
                (change)="changeFilter()">
            <option selected disabled>Выбор состояния</option>
            <option value="all">Все</option>
            <option value="unread">Непрочитанные</option>
            <option value="read">Прочитанные</option>
            <option value="deleted">Удаленные</option>
        </select>
    </div>

    <div class="p-2">
        <my-search (search)="changeFilter($event)" (clear)="clearFilter()"></my-search>
    </div>
</div>

<div class="d-flex"
     *ngIf="messages">
    <div class="p-2 table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Кому</th>
                    <th>Тема</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of messages">
                    <td>{{m.to_user_name}}</td>
                    <td>{{m.subject}}</td>
                    <td>{{m.status}}</td>
                    <td>{{m.date_create | date: 'dd.MM.yyyy HH:mm'}}</td>
                    <td>
                        <div class="btn-group"
                             role="group"
                             aria-label="Действия для сообщения">
                            <button class="btn btn-info btn-sm"
                                    ngbTooltip="Посмотреть сообщение"
                                    container="body"
                                    (click)="viewMessage(m)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-danger btn-sm"
                                    ngbTooltip="Удалить сообщение"
                                    container="body"
                                    (click)="deleteMessage(m.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template ngbModalContainer></ng-template>